In [1]:
import pandas as pd

dataset = "datasets/hyderabad.csv"
data = pd.read_csv(dataset)
df=pd.DataFrame(data)
df.tail()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
96427,2020-01-01 19:00:00,15,11,0.0,7.1,4,1,37,11:13 AM,11:00 PM,...,13,21,53,61,0.0,1019,13,8,74,11
96428,2020-01-01 20:00:00,15,11,0.0,7.1,4,1,37,11:13 AM,11:00 PM,...,12,22,39,61,0.0,1020,13,9,81,11
96429,2020-01-01 21:00:00,15,11,0.0,7.1,4,1,37,11:13 AM,11:00 PM,...,12,23,25,62,0.0,1020,13,10,88,11
96430,2020-01-01 22:00:00,15,11,0.0,7.1,4,1,37,11:13 AM,11:00 PM,...,12,21,26,63,0.0,1020,13,10,85,11
96431,2020-01-01 23:00:00,15,11,0.0,7.1,4,1,37,11:13 AM,11:00 PM,...,12,20,27,64,0.0,1020,12,10,83,10

In [2]:
df.describe()

,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
count,96432.000000,96432.000000,96432.0,96432.000000,96432.000000,96432.000000,96432.000000,96432.000000,96432.000000,96432.00000,96432.000000,96432.000000,96432.000000,96432.000000,96432.000000,96432.000000,96432.000000,96432.000000,96432.000000,96432.000000
mean,33.400199,22.374564,0.0,11.037805,6.877053,4.465012,46.094077,13.230629,30.735783,30.86884,29.088384,14.211766,16.993550,44.370479,0.037756,1006.217946,27.429577,9.885214,205.537270,9.734092
std,6.994211,7.635253,0.0,2.152973,1.551294,3.414374,31.249725,8.053778,9.320398,9.17754,8.051981,6.926605,23.150025,22.484991,0.307143,7.593850,8.459575,1.058515,104.369548,4.835331
min,15.000000,3.000000,0.0,4.000000,3.000000,1.000000,0.000000,-14.000000,4.000000,7.00000,4.000000,0.000000,0.000000,2.000000,0.000000,986.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,16.000000,0.0,8.700000,6.000000,1.000000,18.000000,7.000000,24.000000,25.00000,24.000000,9.000000,0.000000,26.000000,0.000000,1000.000000,21.000000,10.000000,101.000000,6.000000
50%,34.000000,24.000000,0.0,11.600000,7.000000,5.000000,46.000000,12.000000,31.000000,31.00000,29.000000,14.000000,5.000000,42.000000,0.000000,1006.000000,28.000000,10.000000,240.000000,9.000000
75%,38.000000,28.000000,0.0,13.000000,8.000000,8.000000,73.000000,21.000000,38.000000,38.00000,35.000000,18.000000,27.000000,61.000000,0.000000,1013.000000,33.000000,10.000000,299.000000,12.000000
max,51.000000,39.000000,0.0,13.900000,11.000000,11.000000,100.000000,31.000000,65.000000,65.00000,54.000000,75.000000,100.000000,100.000000,20.600000,1024.000000,50.000000,20.000000,360.000000,47.000000

In [3]:
df.isnull().sum()

date_time            0
maxtempC             0
mintempC             0
totalSnow_cm         0
sunHour              0
uvIndex              0
uvIndex.1            0
moon_illumination    0
moonrise             0
moonset              0
sunrise              0
sunset               0
DewPointC            0
FeelsLikeC           0
HeatIndexC           0
WindChillC           0
WindGustKmph         0
cloudcover           0
humidity             0
precipMM             0
pressure             0
tempC                0
visibility           0
winddirDegree        0
windspeedKmph        0
dtype: int64

### Selecting only required columns

In [4]:
df_new = df.iloc[:,[0,1,2,10,11,18,20,23,24]]
df_new.head()

,date_time,maxtempC,mintempC,sunrise,sunset,humidity,pressure,winddirDegree,windspeedKmph
0,2009-01-01 00:00:00,24,10,06:57 AM,05:28 PM,50,1015,320,10
1,2009-01-01 01:00:00,24,10,06:57 AM,05:28 PM,52,1015,315,11
2,2009-01-01 02:00:00,24,10,06:57 AM,05:28 PM,55,1015,310,11
3,2009-01-01 03:00:00,24,10,06:57 AM,05:28 PM,57,1015,304,12
4,2009-01-01 04:00:00,24,10,06:57 AM,05:28 PM,54,1016,302,11

### Calulating the average temparature using the max and min temperature

In [5]:
df_new['averagetempC'] = (df_new.iloc[:,1] + df_new.iloc[:,2])/2
df_new = df_new.drop(['maxtempC','mintempC'],axis=1)
df_new.head()

C:\Users\Sri Harsh\AppData\Local\Temp\ipykernel_15332\431274351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['averagetempC'] = (df_new.iloc[:,1] + df_new.iloc[:,2])/2

,date_time,sunrise,sunset,humidity,pressure,winddirDegree,windspeedKmph,averagetempC
0,2009-01-01 00:00:00,06:57 AM,05:28 PM,50,1015,320,10,17.0
1,2009-01-01 01:00:00,06:57 AM,05:28 PM,52,1015,315,11,17.0
2,2009-01-01 02:00:00,06:57 AM,05:28 PM,55,1015,310,11,17.0
3,2009-01-01 03:00:00,06:57 AM,05:28 PM,57,1015,304,12,17.0
4,2009-01-01 04:00:00,06:57 AM,05:28 PM,54,1016,302,11,17.0

### Calculating duration of sunlight in minutes from sunrise and sunset timings

In [6]:
from datetime import datetime

def calc_sunlight_duration(row):
    sunrise = datetime.strptime(row['sunrise'], '%I:%M %p')
    sunset = datetime.strptime(row['sunset'], '%I:%M %p')
    duration = (sunset - sunrise).total_seconds() / 60
    return duration

df_new['SunLightDuration'] = df_new.apply(calc_sunlight_duration, axis=1)
df_new

,date_time,sunrise,sunset,humidity,pressure,winddirDegree,windspeedKmph,averagetempC,SunLightDuration
0,2009-01-01 00:00:00,06:57 AM,05:28 PM,50,1015,320,10,17.0,631.0
1,2009-01-01 01:00:00,06:57 AM,05:28 PM,52,1015,315,11,17.0,631.0
2,2009-01-01 02:00:00,06:57 AM,05:28 PM,55,1015,310,11,17.0,631.0
3,2009-01-01 03:00:00,06:57 AM,05:28 PM,57,1015,304,12,17.0,631.0
4,2009-01-01 04:00:00,06:57 AM,05:28 PM,54,1016,302,11,17.0,631.0
...,...,...,...,...,...,...,...,...,...
96427,2020-01-01 19:00:00,06:57 AM,05:27 PM,61,1019,74,11,13.0,630.0
96428,2020-01-01 20:00:00,06:57 AM,05:27 PM,61,1020,81,11,13.0,630.0
96429,2020-01-01 21:00:00,06:57 AM,05:27 PM,62,1020,88,11,13.0,630.0
96430,2020-01-01 22:00:00,06:57 AM,05:27 PM,63,1020,85,11,13.0,630.0
96431,2020-01-01 23:00:00,06:57 AM,05:27 PM,64,1020,83,10,13.0,630.0

In [7]:
df_new = df_new.drop(['sunrise','sunset'],axis=1)
df_new

,date_time,humidity,pressure,winddirDegree,windspeedKmph,averagetempC,SunLightDuration
0,2009-01-01 00:00:00,50,1015,320,10,17.0,631.0
1,2009-01-01 01:00:00,52,1015,315,11,17.0,631.0
2,2009-01-01 02:00:00,55,1015,310,11,17.0,631.0
3,2009-01-01 03:00:00,57,1015,304,12,17.0,631.0
4,2009-01-01 04:00:00,54,1016,302,11,17.0,631.0
...,...,...,...,...,...,...,...
96427,2020-01-01 19:00:00,61,1019,74,11,13.0,630.0
96428,2020-01-01 20:00:00,61,1020,81,11,13.0,630.0
96429,2020-01-01 21:00:00,62,1020,88,11,13.0,630.0
96430,2020-01-01 22:00:00,63,1020,85,11,13.0,630.0
96431,2020-01-01 23:00:00,64,1020,83,10,13.0,630.0

### Extracting 7 years of data

In [8]:
df_new['date_time'] = pd.to_datetime(df_new['date_time'])
start_date = pd.to_datetime('2013-01-01') 
end_date = pd.to_datetime('2020-01-01') 
df_filtered = df_new[(df_new['date_time'] >= start_date) & (df_new['date_time'] <= end_date)]
df_filtered

,date_time,humidity,pressure,winddirDegree,windspeedKmph,averagetempC,SunLightDuration
35064,2013-01-01 00:00:00,42,1012,333,12,15.0,631.0
35065,2013-01-01 01:00:00,43,1013,331,11,15.0,631.0
35066,2013-01-01 02:00:00,45,1013,328,10,15.0,631.0
35067,2013-01-01 03:00:00,46,1014,326,9,15.0,631.0
35068,2013-01-01 04:00:00,44,1014,320,7,15.0,631.0
...,...,...,...,...,...,...,...
96404,2019-12-31 20:00:00,45,1017,85,7,14.0,631.0
96405,2019-12-31 21:00:00,47,1018,85,8,14.0,631.0
96406,2019-12-31 22:00:00,48,1018,81,8,14.0,631.0
96407,2019-12-31 23:00:00,49,1018,77,9,14.0,631.0
96408,2020-01-01 00:00:00,50,1018,73,9,13.0,630.0

### Saving into final dataframe to convert to csv format

In [9]:
df_final = pd.DataFrame({})
df_final["date_time"]=df_filtered["date_time"]
df_final["Temperature"] = df_filtered["averagetempC"]
df_final["Pressure"] = df_filtered["pressure"] - 1000
df_final["Humidity"] = df_filtered["humidity"]
df_final["WindDirection(Degrees)"] = df_filtered["winddirDegree"]
df_final["Speed"] = df_filtered["windspeedKmph"]
df_final["SunLightDuration"] = df_filtered["SunLightDuration"]
df_final

,date_time,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,SunLightDuration
35064,2013-01-01 00:00:00,15.0,12,42,333,12,631.0
35065,2013-01-01 01:00:00,15.0,13,43,331,11,631.0
35066,2013-01-01 02:00:00,15.0,13,45,328,10,631.0
35067,2013-01-01 03:00:00,15.0,14,46,326,9,631.0
35068,2013-01-01 04:00:00,15.0,14,44,320,7,631.0
...,...,...,...,...,...,...,...
96404,2019-12-31 20:00:00,14.0,17,45,85,7,631.0
96405,2019-12-31 21:00:00,14.0,18,47,85,8,631.0
96406,2019-12-31 22:00:00,14.0,18,48,81,8,631.0
96407,2019-12-31 23:00:00,14.0,18,49,77,9,631.0
96408,2020-01-01 00:00:00,13.0,18,50,73,9,630.0

### Prediction of solar radiation using random forest

In [10]:
from sklearn.ensemble import RandomForestRegressor


df1 = pd.read_csv('datasets/SolarPrediction_processed.csv')

model = RandomForestRegressor(n_estimators=100, random_state=42)

X_train = df1.drop(['SolarRadiation'], axis=1)
y_train = df1['SolarRadiation']
model.fit(X_train, y_train)


X_test = df_final.drop(['date_time'], axis=1)
y_pred = model.predict(X_test)

df_final['SolarRadiation'] = y_pred

df_final

,date_time,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,SunLightDuration,SolarRadiation
35064,2013-01-01 00:00:00,15.0,12,42,333,12,631.0,12.3356
35065,2013-01-01 01:00:00,15.0,13,43,331,11,631.0,12.3356
35066,2013-01-01 02:00:00,15.0,13,45,328,10,631.0,11.9498
35067,2013-01-01 03:00:00,15.0,14,46,326,9,631.0,2.5134
35068,2013-01-01 04:00:00,15.0,14,44,320,7,631.0,2.0958
...,...,...,...,...,...,...,...,...
96404,2019-12-31 20:00:00,14.0,17,45,85,7,631.0,6.7371
96405,2019-12-31 21:00:00,14.0,18,47,85,8,631.0,7.9478
96406,2019-12-31 22:00:00,14.0,18,48,81,8,631.0,8.2142
96407,2019-12-31 23:00:00,14.0,18,49,77,9,631.0,10.5671
96408,2020-01-01 00:00:00,13.0,18,50,73,9,630.0,10.6178

### Calculating energy generated

In [11]:
# Energy_generated_per_hour = area_of_panel * efficiency_of_panel * solar_radiation
area_of_panel = 1
efficiency = 0.7
df_final["EnergyGenerated"] = ( df_final["SolarRadiation"] * area_of_panel * efficiency)
df_final

,date_time,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,SunLightDuration,SolarRadiation,EnergyGenerated
35064,2013-01-01 00:00:00,15.0,12,42,333,12,631.0,12.3356,8.63492
35065,2013-01-01 01:00:00,15.0,13,43,331,11,631.0,12.3356,8.63492
35066,2013-01-01 02:00:00,15.0,13,45,328,10,631.0,11.9498,8.36486
35067,2013-01-01 03:00:00,15.0,14,46,326,9,631.0,2.5134,1.75938
35068,2013-01-01 04:00:00,15.0,14,44,320,7,631.0,2.0958,1.46706
...,...,...,...,...,...,...,...,...,...
96404,2019-12-31 20:00:00,14.0,17,45,85,7,631.0,6.7371,4.71597
96405,2019-12-31 21:00:00,14.0,18,47,85,8,631.0,7.9478,5.56346
96406,2019-12-31 22:00:00,14.0,18,48,81,8,631.0,8.2142,5.74994
96407,2019-12-31 23:00:00,14.0,18,49,77,9,631.0,10.5671,7.39697
96408,2020-01-01 00:00:00,13.0,18,50,73,9,630.0,10.6178,7.43246

In [12]:
# df_final.to_csv('datasets/hyderabad_processed.csv',index=False)